#header-container {
    display: flex;
}

.pic {
    flex: 10%;
}
.headline {
    flex: 80%;
    color: rgb(255, 255, 255);
    background-color: #070ac2;
}
#logo1{
    width:100%;
}
#logo2{
    width:100%;
}